In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
data = pd.read_excel("c:/Users/user/Desktop/Python_Mock_Test(1-280).xlsx")
data

,ID,Start time,Completion time,Email,Name,Total points,Quiz feedback,Please fill your full name?,Points - Please fill your full name?,Feedback - Please fill your full name?,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,1,2021-07-02 21:51:56,2021-07-02 21:52:13,anonymous,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,2,2021-07-03 14:13:47,2021-07-03 14:18:16,anonymous,NaN,9,NaN,Vishal thakur,NaN,NaN,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,3,2021-07-03 14:18:11,2021-07-03 14:23:05,anonymous,NaN,14,NaN,Nikita prajapati,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,4,2021-07-03 14:19:02,2021-07-03 14:23:40,anonymous,NaN,14,NaN,ansh,NaN,NaN,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,5,2021-07-03 14:14:44,2021-07-03 14:26:08,anonymous,NaN,9,NaN,Krishna garare,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,276,2021-07-03 17:12:25,2021-07-03 17:14:54,anonymous,NaN,57,NaN,Komal patil,NaN,NaN,...,NaN,data[1]['cachedContents']['top'][0]['item'],4,NaN,>,4,NaN,Break,3,NaN
276,277,2021-07-03 16:20:43,2021-07-03 17:17:03,anonymous,NaN,32,NaN,Ruchita Rani,NaN,NaN,...,NaN,"data.get(""item"")",0,NaN,>,4,NaN,i=5,0,NaN
277,278,2021-07-03 16:49:17,2021-07-03 17:19:23,anonymous,NaN,45,NaN,Utkarsh Goswami,NaN,NaN,...,NaN,NaN,0,NaN,>,4,NaN,Break,3,NaN
278,279,2021-07-03 17:15:25,2021-07-03 17:30:20,anonymous,NaN,51,NaN,Rahul Sagar,NaN,NaN,...,NaN,data [1] ['catched contents' ] ['top'] [0] ['i...,0,NaN,>,4,NaN,break,3,NaN
279,280,2021-07-03 17:05:35,2021-07-03 17:35:47,anonymous,NaN,19,NaN,Salma Bano,NaN,NaN,...,NaN,"""""Ny 4o11[14,22]",0,NaN,max=my list[0],0,NaN,If if,0,NaN

In [15]:
data['Email'].value_counts()

anonymous    280
Name: Email, dtype: int64

In [16]:
data['Name'].value_counts()

Series([], Name: Name, dtype: int64)

In [13]:
print(data.columns)

Index(['ID', 'Start time', 'Completion time', 'Email', 'Name', 'Total points',
       'Quiz feedback', 'Please fill your full name?',
       'Points - Please fill your full name?',
       'Feedback - Please fill your full name?',
       ...
       'Feedback -  What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...',
       'Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n        "id" : 390669115,\n        "name" : "ProgramState",\n        "dataTypeName" : "text",\n        "descript...',
       'Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n        "id" : 390669115,\n        "name" : "ProgramState",\n        "dataTypeName" : "text",\n        "descript...',
       'Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n        "id" : 390669115,\n        "name" : "ProgramState",\n        "dataTypeName" : "text",\n        "descript...',
       'What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5.     if myList[i] __...',
       'Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5.     if myList[i] __...',
       'Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5.     if myList[i] __...',
       'What should be replaced in blank space to get the output as \nOutput:\n     0\n     1\n     2\n\ni = 0\nwhile i < 5:\n    print(i)\n    i += 1\n    if i == 3:\n        ________\nelse:\n    print(0)',
       'Points - What should be replaced in blank space to get the output as \nOutput:\n     0\n     1\n     2\n\ni = 0\nwhile i < 5:\n    print(i)\n    i += 1\n    if i == 3:\n        ________\nelse:\n    print(0)',
       'Feedback - What should be replaced in blank space to get the output as \nOutput:\n     0\n     1\n     2\n\ni = 0\nwhile i < 5:\n    print(i)\n    i += 1\n    if i == 3:\n        ________\nelse:\n    print(0)'],
      dtype='object', length=112)

In [14]:
len(data.columns)

112

In [18]:
data.drop(['ID', 'Email', 'Name', 'Quiz feedback', 'Points - Please fill your full name?', 'Feedback - Please fill your full name?'], axis=1, inplace=True)

In [19]:
data.head()

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Points - Please fill your email?,Feedback - Please fill your email?,Please choose your batch?,Points - Please choose your batch?,Feedback - Please choose your batch?,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,NaN,NaN,Batch 3,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN

In [46]:
df1 = data.iloc[:, :5]
df1

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com
...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com

In [22]:
data.head()

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Points - Please fill your email?,Feedback - Please fill your email?,Please choose your batch?,Points - Please choose your batch?,Feedback - Please choose your batch?,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,NaN,NaN,Batch 3,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN

In [34]:
data.columns[5]

'Points - Please fill your email?'

In [40]:
data.iloc[:, 7:]

,Please choose your batch?,Points - Please choose your batch?,Feedback - Please choose your batch?,Please fill your branch?,Points - Please fill your branch?,Feedback - Please fill your branch?,Which data type among the following is immutable,Points - Which data type among the following is immutable,Feedback - Which data type among the following is immutable,Python is which type of language,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,Static,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,Batch 2,NaN,NaN,Mechanical engineering,NaN,NaN,List,0,NaN,Dynamic,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,Batch 2,NaN,NaN,Cs,NaN,NaN,Dictionary,0,NaN,Dynamic,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,Batch 2,NaN,NaN,cs,NaN,NaN,Set,0,NaN,Static,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,Batch 3,NaN,NaN,CSE,NaN,NaN,List,0,NaN,Static,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,Batch 1,NaN,NaN,CSE,NaN,NaN,String,1,NaN,Dynamic,...,NaN,data[1]['cachedContents']['top'][0]['item'],4,NaN,>,4,NaN,Break,3,NaN
276,Batch 3,NaN,NaN,CSE,NaN,NaN,String,1,NaN,Dynamic,...,NaN,"data.get(""item"")",0,NaN,>,4,NaN,i=5,0,NaN
277,Batch 3,NaN,NaN,CS,NaN,NaN,String,1,NaN,Dynamic,...,NaN,NaN,0,NaN,>,4,NaN,Break,3,NaN
278,Batch 1,NaN,NaN,Ai&DS,NaN,NaN,String,1,NaN,Dynamic,...,NaN,data [1] ['catched contents' ] ['top'] [0] ['i...,0,NaN,>,4,NaN,break,3,NaN
279,Batch 1,NaN,NaN,Electronics and communication,NaN,NaN,String,1,NaN,Dynamic,...,NaN,"""""Ny 4o11[14,22]",0,NaN,max=my list[0],0,NaN,If if,0,NaN

In [47]:
df2 = data.iloc[:, 7:13:3]
df2

    Please choose your batch?       Please fill your branch?
0                         NaN                            NaN
1                     Batch 2         Mechanical engineering
2                     Batch 2                             Cs
3                     Batch 2                             cs
4                     Batch 3                            CSE
..                        ...                            ...
275                   Batch 1                            CSE
276                   Batch 3                            CSE
277                   Batch 3                             CS
278                   Batch 1                          Ai&DS
279                   Batch 1  Electronics and communication

[280 rows x 2 columns]

In [42]:
data.iloc[:, 13:]

,Which data type among the following is immutable,Points - Which data type among the following is immutable,Feedback - Which data type among the following is immutable,Python is which type of language,Points - Python is which type of language,Feedback - Python is which type of language,What is Maximum possible length of identifier,Points - What is Maximum possible length of identifier,Feedback - What is Maximum possible length of identifier,In which year was the Python language developed?,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,NaN,0,NaN,Static,0,NaN,64,0,NaN,1992.0,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,List,0,NaN,Dynamic,1,NaN,16,0,NaN,1972.0,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,Dictionary,0,NaN,Dynamic,1,NaN,32,0,NaN,1989.0,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,Set,0,NaN,Static,0,NaN,64,0,NaN,1989.0,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,List,0,NaN,Static,0,NaN,None of these,1,NaN,1991.0,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1989.0,...,NaN,data[1]['cachedContents']['top'][0]['item'],4,NaN,>,4,NaN,Break,3,NaN
276,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1989.0,...,NaN,"data.get(""item"")",0,NaN,>,4,NaN,i=5,0,NaN
277,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1991.0,...,NaN,NaN,0,NaN,>,4,NaN,Break,3,NaN
278,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1989.0,...,NaN,data [1] ['catched contents' ] ['top'] [0] ['i...,0,NaN,>,4,NaN,break,3,NaN
279,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1989.0,...,NaN,"""""Ny 4o11[14,22]",0,NaN,max=my list[0],0,NaN,If if,0,NaN

In [49]:
df3 = data.iloc[:, 14::3]
df3

,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,Points - In which year was the Python language developed?,Points - Which is the correct extension of python file,Points - What do we use to define a block of code in Python language?,Points - Which of the following declaration is incorrect,Points - Which of the following is incorrect,Points - What will be the output of this code?\na = 10\nb = 20\nc = 2\nwhile a<b:\n c += 2\n a += 2\nprint(c),Points - What will be the output of the code?\ni = 1\nwhile True:\n if i%3 == 0:\n break\n print(i)\n \n i + = 1,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
1,0,1,0,0,0,0,0,0,0,2,...,0,2,0,0,2,0,NaN,0,0,0
2,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
3,0,0,0,1,0,1,0,0,0,2,...,0,2,0,2,2,0,NaN,0,0,0
4,0,0,1,0,0,0,0,0,2,0,...,0,0,0,0,0,3,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,4,4,3
276,1,1,1,1,1,1,0,1,0,2,...,2,2,0,2,0,0,NaN,0,4,0
277,1,1,1,0,1,1,0,0,2,2,...,0,2,2,2,2,3,NaN,0,4,3
278,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,0,4,3
279,1,1,1,1,1,1,0,0,0,0,...,2,2,0,0,2,0,NaN,0,0,0

In [50]:
df1

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com
...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com

In [51]:
df2

    Please choose your batch?       Please fill your branch?
0                         NaN                            NaN
1                     Batch 2         Mechanical engineering
2                     Batch 2                             Cs
3                     Batch 2                             cs
4                     Batch 3                            CSE
..                        ...                            ...
275                   Batch 1                            CSE
276                   Batch 3                            CSE
277                   Batch 3                             CS
278                   Batch 1                          Ai&DS
279                   Batch 1  Electronics and communication

[280 rows x 2 columns]

In [52]:
df3

,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,Points - In which year was the Python language developed?,Points - Which is the correct extension of python file,Points - What do we use to define a block of code in Python language?,Points - Which of the following declaration is incorrect,Points - Which of the following is incorrect,Points - What will be the output of this code?\na = 10\nb = 20\nc = 2\nwhile a<b:\n c += 2\n a += 2\nprint(c),Points - What will be the output of the code?\ni = 1\nwhile True:\n if i%3 == 0:\n break\n print(i)\n \n i + = 1,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
1,0,1,0,0,0,0,0,0,0,2,...,0,2,0,0,2,0,NaN,0,0,0
2,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
3,0,0,0,1,0,1,0,0,0,2,...,0,2,0,2,2,0,NaN,0,0,0
4,0,0,1,0,0,0,0,0,2,0,...,0,0,0,0,0,3,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,4,4,3
276,1,1,1,1,1,1,0,1,0,2,...,2,2,0,2,0,0,NaN,0,4,0
277,1,1,1,0,1,1,0,0,2,2,...,0,2,2,2,2,3,NaN,0,4,3
278,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,0,4,3
279,1,1,1,1,1,1,0,0,0,0,...,2,2,0,0,2,0,NaN,0,0,0

In [54]:
df3.sum(axis=1)

0       1.0
1       9.0
2      14.0
3      14.0
4       9.0
       ...
275    57.0
276    32.0
277    45.0
278    51.0
279    19.0
Length: 280, dtype: float64