In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel("c:/Users/user/Desktop/Python_Mock_Test(1-280).xlsx")
data

,ID,Start time,Completion time,Email,Name,Total points,Quiz feedback,Please fill your full name?,Points - Please fill your full name?,Feedback - Please fill your full name?,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,1,2021-07-02 21:51:56,2021-07-02 21:52:13,anonymous,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,2,2021-07-03 14:13:47,2021-07-03 14:18:16,anonymous,NaN,9,NaN,Vishal thakur,NaN,NaN,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,3,2021-07-03 14:18:11,2021-07-03 14:23:05,anonymous,NaN,14,NaN,Nikita prajapati,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,4,2021-07-03 14:19:02,2021-07-03 14:23:40,anonymous,NaN,14,NaN,ansh,NaN,NaN,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,5,2021-07-03 14:14:44,2021-07-03 14:26:08,anonymous,NaN,9,NaN,Krishna garare,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,276,2021-07-03 17:12:25,2021-07-03 17:14:54,anonymous,NaN,57,NaN,Komal patil,NaN,NaN,...,NaN,data[1]['cachedContents']['top'][0]['item'],4,NaN,>,4,NaN,Break,3,NaN
276,277,2021-07-03 16:20:43,2021-07-03 17:17:03,anonymous,NaN,32,NaN,Ruchita Rani,NaN,NaN,...,NaN,"data.get(""item"")",0,NaN,>,4,NaN,i=5,0,NaN
277,278,2021-07-03 16:49:17,2021-07-03 17:19:23,anonymous,NaN,45,NaN,Utkarsh Goswami,NaN,NaN,...,NaN,NaN,0,NaN,>,4,NaN,Break,3,NaN
278,279,2021-07-03 17:15:25,2021-07-03 17:30:20,anonymous,NaN,51,NaN,Rahul Sagar,NaN,NaN,...,NaN,data [1] ['catched contents' ] ['top'] [0] ['i...,0,NaN,>,4,NaN,break,3,NaN
279,280,2021-07-03 17:05:35,2021-07-03 17:35:47,anonymous,NaN,19,NaN,Salma Bano,NaN,NaN,...,NaN,"""""Ny 4o11[14,22]",0,NaN,max=my list[0],0,NaN,If if,0,NaN

In [3]:
data['Email'].value_counts()

anonymous    280
Name: Email, dtype: int64

In [4]:
data['Name'].value_counts()

Series([], Name: Name, dtype: int64)

In [5]:
print(data.columns)

Index(['ID', 'Start time', 'Completion time', 'Email', 'Name', 'Total points',
       'Quiz feedback', 'Please fill your full name?',
       'Points - Please fill your full name?',
       'Feedback - Please fill your full name?',
       ...
       'Feedback -  What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...',
       'Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n        "id" : 390669115,\n        "name" : "ProgramState",\n        "dataTypeName" : "text",\n        "descript...',
       'Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n        "id" : 390669115,\n        "name" : "ProgramState",\n        "dataTypeName" : "text",\n        "descript...',
       'Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n        "id" : 390669115,\n        "name" : "ProgramState",\n        "dataTypeName" : "text",\n        "descript...',
       'What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5.     if myList[i] __...',
       'Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5.     if myList[i] __...',
       'Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5.     if myList[i] __...',
       'What should be replaced in blank space to get the output as \nOutput:\n     0\n     1\n     2\n\ni = 0\nwhile i < 5:\n    print(i)\n    i += 1\n    if i == 3:\n        ________\nelse:\n    print(0)',
       'Points - What should be replaced in blank space to get the output as \nOutput:\n     0\n     1\n     2\n\ni = 0\nwhile i < 5:\n    print(i)\n    i += 1\n    if i == 3:\n        ________\nelse:\n    print(0)',
       'Feedback - What should be replaced in blank space to get the output as \nOutput:\n     0\n     1\n     2\n\ni = 0\nwhile i < 5:\n    print(i)\n    i += 1\n    if i == 3:\n        ________\nelse:\n    print(0)'],
      dtype='object', length=112)

In [6]:
len(data.columns)

112

In [7]:
data.drop(['ID', 'Email', 'Name', 'Quiz feedback', 'Points - Please fill your full name?', 'Feedback - Please fill your full name?'], axis=1, inplace=True)

In [8]:
data.head()

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Points - Please fill your email?,Feedback - Please fill your email?,Please choose your batch?,Points - Please choose your batch?,Feedback - Please choose your batch?,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,NaN,NaN,Batch 3,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN

In [9]:
df1 = data.iloc[:, :5]
df1

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com
...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com

In [10]:
data.head()

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Points - Please fill your email?,Feedback - Please fill your email?,Please choose your batch?,Points - Please choose your batch?,Feedback - Please choose your batch?,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,NaN,NaN,Batch 2,NaN,NaN,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,NaN,NaN,Batch 3,NaN,NaN,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN

In [11]:
data.columns[5]

'Points - Please fill your email?'

In [12]:
data.iloc[:, 7:]

,Please choose your batch?,Points - Please choose your batch?,Feedback - Please choose your batch?,Please fill your branch?,Points - Please fill your branch?,Feedback - Please fill your branch?,Which data type among the following is immutable,Points - Which data type among the following is immutable,Feedback - Which data type among the following is immutable,Python is which type of language,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,Static,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,Batch 2,NaN,NaN,Mechanical engineering,NaN,NaN,List,0,NaN,Dynamic,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,Batch 2,NaN,NaN,Cs,NaN,NaN,Dictionary,0,NaN,Dynamic,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,Batch 2,NaN,NaN,cs,NaN,NaN,Set,0,NaN,Static,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,Batch 3,NaN,NaN,CSE,NaN,NaN,List,0,NaN,Static,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,Batch 1,NaN,NaN,CSE,NaN,NaN,String,1,NaN,Dynamic,...,NaN,data[1]['cachedContents']['top'][0]['item'],4,NaN,>,4,NaN,Break,3,NaN
276,Batch 3,NaN,NaN,CSE,NaN,NaN,String,1,NaN,Dynamic,...,NaN,"data.get(""item"")",0,NaN,>,4,NaN,i=5,0,NaN
277,Batch 3,NaN,NaN,CS,NaN,NaN,String,1,NaN,Dynamic,...,NaN,NaN,0,NaN,>,4,NaN,Break,3,NaN
278,Batch 1,NaN,NaN,Ai&DS,NaN,NaN,String,1,NaN,Dynamic,...,NaN,data [1] ['catched contents' ] ['top'] [0] ['i...,0,NaN,>,4,NaN,break,3,NaN
279,Batch 1,NaN,NaN,Electronics and communication,NaN,NaN,String,1,NaN,Dynamic,...,NaN,"""""Ny 4o11[14,22]",0,NaN,max=my list[0],0,NaN,If if,0,NaN

In [13]:
df2 = data.iloc[:, 7:13:3]
df2

    Please choose your batch?       Please fill your branch?
0                         NaN                            NaN
1                     Batch 2         Mechanical engineering
2                     Batch 2                             Cs
3                     Batch 2                             cs
4                     Batch 3                            CSE
..                        ...                            ...
275                   Batch 1                            CSE
276                   Batch 3                            CSE
277                   Batch 3                             CS
278                   Batch 1                          Ai&DS
279                   Batch 1  Electronics and communication

[280 rows x 2 columns]

In [14]:
data.iloc[:, 13:]

,Which data type among the following is immutable,Points - Which data type among the following is immutable,Feedback - Which data type among the following is immutable,Python is which type of language,Points - Python is which type of language,Feedback - Python is which type of language,What is Maximum possible length of identifier,Points - What is Maximum possible length of identifier,Feedback - What is Maximum possible length of identifier,In which year was the Python language developed?,...,"Feedback - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Feedback - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...","Feedback - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0),Feedback - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,NaN,0,NaN,Static,0,NaN,64,0,NaN,1992.0,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
1,List,0,NaN,Dynamic,1,NaN,16,0,NaN,1972.0,...,NaN,New York,0,NaN,0,0,NaN,0,0,NaN
2,Dictionary,0,NaN,Dynamic,1,NaN,32,0,NaN,1989.0,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
3,Set,0,NaN,Static,0,NaN,64,0,NaN,1989.0,...,NaN,8,0,NaN,8,0,NaN,7,0,NaN
4,List,0,NaN,Static,0,NaN,None of these,1,NaN,1991.0,...,NaN,NaN,0,NaN,NaN,0,NaN,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1989.0,...,NaN,data[1]['cachedContents']['top'][0]['item'],4,NaN,>,4,NaN,Break,3,NaN
276,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1989.0,...,NaN,"data.get(""item"")",0,NaN,>,4,NaN,i=5,0,NaN
277,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1991.0,...,NaN,NaN,0,NaN,>,4,NaN,Break,3,NaN
278,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1989.0,...,NaN,data [1] ['catched contents' ] ['top'] [0] ['i...,0,NaN,>,4,NaN,break,3,NaN
279,String,1,NaN,Dynamic,1,NaN,None of these,1,NaN,1989.0,...,NaN,"""""Ny 4o11[14,22]",0,NaN,max=my list[0],0,NaN,If if,0,NaN

In [15]:
df3 = data.iloc[:, 14::3]
df3

,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,Points - In which year was the Python language developed?,Points - Which is the correct extension of python file,Points - What do we use to define a block of code in Python language?,Points - Which of the following declaration is incorrect,Points - Which of the following is incorrect,Points - What will be the output of this code?\na = 10\nb = 20\nc = 2\nwhile a<b:\n c += 2\n a += 2\nprint(c),Points - What will be the output of the code?\ni = 1\nwhile True:\n if i%3 == 0:\n break\n print(i)\n \n i + = 1,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
1,0,1,0,0,0,0,0,0,0,2,...,0,2,0,0,2,0,NaN,0,0,0
2,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
3,0,0,0,1,0,1,0,0,0,2,...,0,2,0,2,2,0,NaN,0,0,0
4,0,0,1,0,0,0,0,0,2,0,...,0,0,0,0,0,3,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,4,4,3
276,1,1,1,1,1,1,0,1,0,2,...,2,2,0,2,0,0,NaN,0,4,0
277,1,1,1,0,1,1,0,0,2,2,...,0,2,2,2,2,3,NaN,0,4,3
278,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,0,4,3
279,1,1,1,1,1,1,0,0,0,0,...,2,2,0,0,2,0,NaN,0,0,0

In [16]:
df1

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com
...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com

In [17]:
df2

    Please choose your batch?       Please fill your branch?
0                         NaN                            NaN
1                     Batch 2         Mechanical engineering
2                     Batch 2                             Cs
3                     Batch 2                             cs
4                     Batch 3                            CSE
..                        ...                            ...
275                   Batch 1                            CSE
276                   Batch 3                            CSE
277                   Batch 3                             CS
278                   Batch 1                          Ai&DS
279                   Batch 1  Electronics and communication

[280 rows x 2 columns]

In [18]:
df3

,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,Points - In which year was the Python language developed?,Points - Which is the correct extension of python file,Points - What do we use to define a block of code in Python language?,Points - Which of the following declaration is incorrect,Points - Which of the following is incorrect,Points - What will be the output of this code?\na = 10\nb = 20\nc = 2\nwhile a<b:\n c += 2\n a += 2\nprint(c),Points - What will be the output of the code?\ni = 1\nwhile True:\n if i%3 == 0:\n break\n print(i)\n \n i + = 1,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
1,0,1,0,0,0,0,0,0,0,2,...,0,2,0,0,2,0,NaN,0,0,0
2,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
3,0,0,0,1,0,1,0,0,0,2,...,0,2,0,2,2,0,NaN,0,0,0
4,0,0,1,0,0,0,0,0,2,0,...,0,0,0,0,0,3,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,4,4,3
276,1,1,1,1,1,1,0,1,0,2,...,2,2,0,2,0,0,NaN,0,4,0
277,1,1,1,0,1,1,0,0,2,2,...,0,2,2,2,2,3,NaN,0,4,3
278,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,0,4,3
279,1,1,1,1,1,1,0,0,0,0,...,2,2,0,0,2,0,NaN,0,0,0

In [19]:
df3.sum(axis=1)

0       1.0
1       9.0
2      14.0
3      14.0
4       9.0
       ...
275    57.0
276    32.0
277    45.0
278    51.0
279    19.0
Length: 280, dtype: float64

In [21]:
df1['Total points'] = df3.sum(axis=1).astype('int')

In [22]:
df1

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com
...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com

In [23]:
df2

    Please choose your batch?       Please fill your branch?
0                         NaN                            NaN
1                     Batch 2         Mechanical engineering
2                     Batch 2                             Cs
3                     Batch 2                             cs
4                     Batch 3                            CSE
..                        ...                            ...
275                   Batch 1                            CSE
276                   Batch 3                            CSE
277                   Batch 3                             CS
278                   Batch 1                          Ai&DS
279                   Batch 1  Electronics and communication

[280 rows x 2 columns]

In [24]:
df3

,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,Points - In which year was the Python language developed?,Points - Which is the correct extension of python file,Points - What do we use to define a block of code in Python language?,Points - Which of the following declaration is incorrect,Points - Which of the following is incorrect,Points - What will be the output of this code?\na = 10\nb = 20\nc = 2\nwhile a<b:\n c += 2\n a += 2\nprint(c),Points - What will be the output of the code?\ni = 1\nwhile True:\n if i%3 == 0:\n break\n print(i)\n \n i + = 1,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
1,0,1,0,0,0,0,0,0,0,2,...,0,2,0,0,2,0,NaN,0,0,0
2,0,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
3,0,0,0,1,0,1,0,0,0,2,...,0,2,0,2,2,0,NaN,0,0,0
4,0,0,1,0,0,0,0,0,2,0,...,0,0,0,0,0,3,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,4,4,3
276,1,1,1,1,1,1,0,1,0,2,...,2,2,0,2,0,0,NaN,0,4,0
277,1,1,1,0,1,1,0,0,2,2,...,0,2,2,2,2,3,NaN,0,4,3
278,1,1,1,1,1,1,1,1,2,2,...,2,2,2,2,2,3,NaN,0,4,3
279,1,1,1,1,1,1,0,0,0,0,...,2,2,0,0,2,0,NaN,0,0,0

In [26]:
df4 = pd.concat([df1, df2, df3], axis=1)
df4

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,NaN,0,0,0
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,Batch 2,Mechanical engineering,0,1,0,...,0,2,0,0,2,0,NaN,0,0,0
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,Batch 2,Cs,0,1,0,...,0,0,0,0,0,0,NaN,0,0,0
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,Batch 2,cs,0,0,0,...,0,2,0,2,2,0,NaN,0,0,0
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,Batch 3,CSE,0,0,1,...,0,0,0,0,0,3,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com,Batch 1,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com,Batch 3,CSE,1,1,1,...,2,2,0,2,0,0,NaN,0,4,0
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com,Batch 3,CS,1,1,1,...,0,2,2,2,2,3,NaN,0,4,3
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com,Batch 1,Ai&DS,1,1,1,...,2,2,2,2,2,3,NaN,0,4,3
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com,Batch 1,Electronics and communication,1,1,1,...,2,2,0,0,2,0,NaN,0,0,0

In [27]:
df4.isna().sum()

Start time                                                                                                                                                                                                                           0
Completion time                                                                                                                                                                                                                      0
Total points                                                                                                                                                                                                                         0
Please fill your full name?                                                                                                                                                                                                          1
Please fill your email?                                                                                                                                                                                                              1
Please choose your batch?                                                                                                                                                                                                            1
Please fill your branch?                                                                                                                                                                                                             1
Points - Which data type among the following is immutable                                                                                                                                                                            0
Points - Python is which type of language                                                                                                                                                                                            0
Points - What is Maximum possible length of identifier                                                                                                                                                                               0
Points - In which year was the Python language developed?                                                                                                                                                                            0
Points - Which is the correct extension of python file                                                                                                                                                                               0
Points - What do we use to define a block of code in Python language?                                                                                                                                                                0
Points - Which of the following declaration is incorrect                                                                                                                                                                             0
Points - Which of the following is incorrect                                                                                                                                                                                         0
Points - What will be the output of this code?\na = 10\nb = 20\nc = 2\nwhile a<b:\n    c += 2\n    a += 2\nprint(c)                                                                                                                  0
Points - What will be the output of the code?\ni = 1\nwhile True:\n    if i%3 == 0:\n        break\n    print(i)\n \n    i + = 1                                                                                                     0
Points - What will be the output of the code?\nl = [10, 12, 'hello', 'bye', 34, 56]\nfor i in l:\n    if len(str(i))%2 == 0:\n        break\n    print(len(i))                                                                       0
Points - What will be the output of the following?\n1 + 2 + 3/6 * 10 // 9                                                                                                                                                            0
Points - What should be filled in the line 5 so output become 3?\n\n1. str1="hello"\n2. c=0\n3. for x in str1:\n4.    if(x!="l"):\n5.        _______\n6.    else:\n7.        pass\n8. print(c)                                       0
Points - str1="learn python"\n\nstr2=""\n\nstr3=""\n\nfor x in str1:\n\n    if(x=="r" or x=="n" or x=="p"):\n\n        str2+=x\n\n    if(x=="r" or x=="e" or x=="a"):\n\n        str3+=x\n\nprint(str2,end=", ")\nprint(str3)        0
Points - Which of the following is a valid for loop in Python?                                                                                                                                                                       0
Points - A while loop in Python is used for what type of iteration?                                                                                                                                                                  0
Points - Which of the option below is correct?                                                                                                                                                                                       0
Points - How many time this loop will run?\nfor i in range(-3):\n    pass                                                                                                                                                            0
Points - What is the output of this code?\n\ni = 0\nfor i in range(1, 10):\n    pass\nprint(i)                                                                                                                                       0
Points - Which of the following is considered as infinite loop?                                                                                                                                                                      0
Points - What will be the number of lines drawn in each case, assuming that the turtle module has been imported:\npen = turtle.Pen()\nCase 1:\nfor i in range(0,10):\n\tpen.forward(100)\n\tpen.left(90)\n\nCase 2:\nfo...           0
Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)                                                                 0
Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up()  \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...      0
Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n        t.left(_________)\n        t.forward(100)                        0
Points - Which of the following is Exit control loop in python ?                                                                                                                                                                     0
Points - We have a string\n"****************************   hello world            **********************"\nWe need output of the string as \n"world"\nWhich set of operations/functions we need to apply on strin...                 0
Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n("CheckCheckCheck")                                                                                                     0
Points -  What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...         280
Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n        "id" : 390669115,\n        "name" : "ProgramState",\n        "dataTypeName" : "text",\n        "descript...               0
Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5.     if myList[i] __...               0
Points - What should be replaced in blank space to get the output as \nOutput:\n     0\n     1\n     2\n\ni = 0\nwhile i < 5:\n    print(i)\n    i += 1\n    if i == 3:\n        ________\nelse:\n    print(0)                       0
dtype: int64

In [28]:
df4.shape

(280, 38)

In [29]:
df4.dropna(axis=1, how='all')

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - What will be the number of lines drawn in each case, assuming that the turtle module has been imported:\npen = turtle.Pen()\nCase 1:\nfor i in range(0,10):\n\tpen.forward(100)\n\tpen.left(90)\n\nCase 2:\nfo...","Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
0,2021-07-02 21:51:56,2021-07-02 21:52:13,1,NaN,NaN,NaN,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,Batch 2,Mechanical engineering,0,1,0,...,0,0,2,0,0,2,0,0,0,0
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,Batch 2,Cs,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,Batch 2,cs,0,0,0,...,0,0,2,0,2,2,0,0,0,0
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,Batch 3,CSE,0,0,1,...,0,0,0,0,0,0,3,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com,Batch 1,CSE,1,1,1,...,2,2,2,2,2,2,3,4,4,3
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com,Batch 3,CSE,1,1,1,...,2,2,2,0,2,0,0,0,4,0
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com,Batch 3,CS,1,1,1,...,2,0,2,2,2,2,3,0,4,3
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com,Batch 1,Ai&DS,1,1,1,...,2,2,2,2,2,2,3,0,4,3
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com,Batch 1,Electronics and communication,1,1,1,...,0,2,2,0,0,2,0,0,0,0

In [30]:
df4.isna().sum(axis=1)

0      5
1      1
2      1
3      1
4      1
      ..
275    1
276    1
277    1
278    1
279    1
Length: 280, dtype: int64

In [32]:
df4.drop(0, inplace=True)

In [33]:
df4.head()

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,Batch 2,Mechanical engineering,0,1,0,...,0,2,0,0,2,0,NaN,0,0,0
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,Batch 2,Cs,0,1,0,...,0,0,0,0,0,0,NaN,0,0,0
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,Batch 2,cs,0,0,0,...,0,2,0,2,2,0,NaN,0,0,0
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,Batch 3,CSE,0,0,1,...,0,0,0,0,0,3,NaN,0,0,0
5,2021-07-03 14:20:41,2021-07-03 14:26:11,15,Navansh Trivedi,navansh.trivedi13@gmail.com,Batch 2,CS,1,1,1,...,2,2,0,0,2,0,NaN,0,0,0

In [36]:
df4.sort_values(by='Total points', ascending=False).head()

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
219,2021-07-03 14:15:06,2021-07-03 15:53:06,57,Himanshu Soni,himanshunitesh123@gmail.com,Batch 3,EE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
70,2021-07-03 14:53:24,2021-07-03 14:57:41,57,Paplavi makode,pallavimakode1108@gmail.com,Batch 2,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
255,2021-07-03 14:23:21,2021-07-03 16:31:57,57,Ujjwal Singh,usb9300322722@gmail.com,Batch 2,Electronics and Communication,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com,Batch 1,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
170,2021-07-03 14:13:28,2021-07-03 15:31:51,57,Dhiraj kumar kushwaha,dhirajkushwaha002@gmail.com,Batch 1,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3

In [38]:
df4['Please choose your batch?'].value_counts()

Batch 1    112
Batch 3     95
Batch 2     72
Name: Please choose your batch?, dtype: int64

In [41]:
df4[df4['Please choose your batch?'] == 'Batch 1'].sort_values(by='Total points', ascending=False).head()

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com,Batch 1,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
170,2021-07-03 14:13:28,2021-07-03 15:31:51,57,Dhiraj kumar kushwaha,dhirajkushwaha002@gmail.com,Batch 1,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
38,2021-07-03 14:16:04,2021-07-03 14:45:05,55,Mayank Gaur,tomaluter@gmail.com,Batch 1,Artificial Intelligence & data Science,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
68,2021-07-03 14:41:43,2021-07-03 14:56:50,55,yash balod,balodyash2002@.com,Batch 1,AI& DS,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
248,2021-07-03 16:13:21,2021-07-03 16:18:38,55,Pratham Mucchala,prathammuchhala16@gmail.com,Batch 1,AI&ds,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3

In [42]:
df4[df4['Please choose your batch?'] == 'Batch 2'].sort_values(by='Total points', ascending=False).head()

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
255,2021-07-03 14:23:21,2021-07-03 16:31:57,57,Ujjwal Singh,usb9300322722@gmail.com,Batch 2,Electronics and Communication,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
70,2021-07-03 14:53:24,2021-07-03 14:57:41,57,Paplavi makode,pallavimakode1108@gmail.com,Batch 2,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
182,2021-07-03 15:33:52,2021-07-03 15:38:33,55,Samiksha Kabra,samikshakabra23@gmail.com,Batch 2,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
260,2021-07-03 16:36:10,2021-07-03 16:41:59,55,Sanjana Sharma,ssanjana1327.ss@gmail.com,Batch 2,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
185,2021-07-03 15:24:59,2021-07-03 15:38:49,55,Prayag Choudhary,prayagchoudhary126@gmail.com,Batch 2,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3

In [43]:
df4[df4['Please choose your batch?'] == 'Batch 3'].sort_values(by='Total points', ascending=False).head()

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
236,2021-07-03 16:04:05,2021-07-03 16:10:13,57,Shikha Khatri,shikhakhatri8855@gmail.com,Batch 3,Cs,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
219,2021-07-03 14:15:06,2021-07-03 15:53:06,57,Himanshu Soni,himanshunitesh123@gmail.com,Batch 3,EE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
217,2021-07-03 15:46:44,2021-07-03 15:51:32,56,Kratika lashkari,lashkarikratika410@gmail.com,Batch 3,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
146,2021-07-03 15:16:18,2021-07-03 15:24:52,55,Nihit malviya,Malviyanihit578@gmail.com,Batch 3,Aids,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
120,2021-07-03 14:36:11,2021-07-03 15:15:45,52,Shriraj Solanki,solankishriraj33@gmail.com,Batch 3,CSE,1,1,1,...,2,2,2,2,2,0,NaN,4,4,3

In [44]:
df4

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,Batch 2,Mechanical engineering,0,1,0,...,0,2,0,0,2,0,NaN,0,0,0
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,Batch 2,Cs,0,1,0,...,0,0,0,0,0,0,NaN,0,0,0
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,Batch 2,cs,0,0,0,...,0,2,0,2,2,0,NaN,0,0,0
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,Batch 3,CSE,0,0,1,...,0,0,0,0,0,3,NaN,0,0,0
5,2021-07-03 14:20:41,2021-07-03 14:26:11,15,Navansh Trivedi,navansh.trivedi13@gmail.com,Batch 2,CS,1,1,1,...,2,2,0,0,2,0,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com,Batch 1,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com,Batch 3,CSE,1,1,1,...,2,2,0,2,0,0,NaN,0,4,0
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com,Batch 3,CS,1,1,1,...,0,2,2,2,2,3,NaN,0,4,3
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com,Batch 1,Ai&DS,1,1,1,...,2,2,2,2,2,3,NaN,0,4,3
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com,Batch 1,Electronics and communication,1,1,1,...,2,2,0,0,2,0,NaN,0,0,0

In [45]:
df4.columns

Index(['Start time', 'Completion time', 'Total points',
       'Please fill your full name?', 'Please fill your email?',
       'Please choose your batch?', 'Please fill your branch?',
       'Points - Which data type among the following is immutable',
       'Points - Python is which type of language',
       'Points - What is Maximum possible length of identifier',
       'Points - In which year was the Python language developed?',
       'Points - Which is the correct extension of python file',
       'Points - What do we use to define a block of code in Python language?',
       'Points - Which of the following declaration is incorrect',
       'Points - Which of the following is incorrect',
       'Points - What will be the output of this code?\na = 10\nb = 20\nc = 2\nwhile a<b:\n    c += 2\n    a += 2\nprint(c)',
       'Points - What will be the output of the code?\ni = 1\nwhile True:\n    if i%3 == 0:\n        break\n    print(i)\n \n    i + = 1',
       'Points - What will be the output of the code?\nl = [10, 12, 'hello', 'bye', 34, 56]\nfor i in l:\n    if len(str(i))%2 == 0:\n        break\n    print(len(i))',
       'Points - What will be the output of the following?\n1 + 2 + 3/6 * 10 // 9',
       'Points - What should be filled in the line 5 so output become 3?\n\n1. str1="hello"\n2. c=0\n3. for x in str1:\n4.    if(x!="l"):\n5.        _______\n6.    else:\n7.        pass\n8. print(c)',
       'Points - str1="learn python"\n\nstr2=""\n\nstr3=""\n\nfor x in str1:\n\n    if(x=="r" or x=="n" or x=="p"):\n\n        str2+=x\n\n    if(x=="r" or x=="e" or x=="a"):\n\n        str3+=x\n\nprint(str2,end=", ")\nprint(str3)',
       'Points - Which of the following is a valid for loop in Python?',
       'Points - A while loop in Python is used for what type of iteration?',
       'Points - Which of the option below is correct?',
       'Points - How many time this loop will run?\nfor i in range(-3):\n    pass',
       'Points - What is the output of this code?\n\ni = 0\nfor i in range(1, 10):\n    pass\nprint(i)',
       'Points - Which of the following is considered as infinite loop?',
       'Points - What will be the number of lines drawn in each case, assuming that the turtle module has been imported:\npen = turtle.Pen()\nCase 1:\nfor i in range(0,10):\n\tpen.forward(100)\n\tpen.left(90)\n\nCase 2:\nfo...',
       'Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)',
       'Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up()  \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...',
       'Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n        t.left(_________)\n        t.forward(100)',
       'Points - Which of the following is Exit control loop in python ?',
       'Points - We have a string\n"****************************   hello world            **********************"\nWe need output of the string as \n"world"\nWhich set of operations/functions we need to apply on strin...',
       'Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n("CheckCheckCheck")',
       'Points -  What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...',
       'Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n        "id" : 390669115,\n        "name" : "ProgramState",\n        "dataTypeName" : "text",\n        "descript...',
       'Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5.     if myList[i] __...',
       'Points - What should be replaced in blank space to get the output as \nOutput:\n     0\n     1\n     2\n\ni = 0\nwhile i < 5:\n    print(i)\n    i += 1\n    if i == 3:\n        ________\nelse:\n    print(0)'],
      dtype='object')

    df.drop_duplicates()

In [46]:
df4.drop_duplicates('Please fill your full name?', keep='first')

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,Batch 2,Mechanical engineering,0,1,0,...,0,2,0,0,2,0,NaN,0,0,0
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,Batch 2,Cs,0,1,0,...,0,0,0,0,0,0,NaN,0,0,0
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,Batch 2,cs,0,0,0,...,0,2,0,2,2,0,NaN,0,0,0
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,Batch 3,CSE,0,0,1,...,0,0,0,0,0,3,NaN,0,0,0
5,2021-07-03 14:20:41,2021-07-03 14:26:11,15,Navansh Trivedi,navansh.trivedi13@gmail.com,Batch 2,CS,1,1,1,...,2,2,0,0,2,0,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com,Batch 1,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com,Batch 3,CSE,1,1,1,...,2,2,0,2,0,0,NaN,0,4,0
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com,Batch 3,CS,1,1,1,...,0,2,2,2,2,3,NaN,0,4,3
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com,Batch 1,Ai&DS,1,1,1,...,2,2,2,2,2,3,NaN,0,4,3
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com,Batch 1,Electronics and communication,1,1,1,...,2,2,0,0,2,0,NaN,0,0,0

In [47]:
df4.drop_duplicates(['Please fill your full name?', 'Please fill your email?'], keep='first')

,Start time,Completion time,Total points,Please fill your full name?,Please fill your email?,Please choose your batch?,Please fill your branch?,Points - Which data type among the following is immutable,Points - Python is which type of language,Points - What is Maximum possible length of identifier,...,"Points - In how many lines there is logical error to get the output as SQUARE?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(1,4):\n\tt.forward(60)\n\tt.left(45)","Points - What will be the output of the following Python code?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,4):\n\tt.forward(100)\n\tt.left(90)\n \nt.up() \nt.left(90)\nt.forward(200)\nfor i in range(0,4):\n\tt.fo...","Points - What should be replaced in blank line given as argument to left to get the output as STAR?\n\nimport turtle\nt=turtle.Pen()\nfor i in range(0,5):\n t.left(_________)\n t.forward(100)",Points - Which of the following is Exit control loop in python ?,"Points - We have a string\n""**************************** hello world **********************""\nWe need output of the string as \n""world""\nWhich set of operations/functions we need to apply on strin...","Points - What should be the value of a so that the output becomes as follows:\n\na = ?\nprint(a)\n\noutput:\n(""CheckCheckCheck"")","Points - What should be replace in blank space to get output as 33?\n\nnames1 = ['Amir', 'Bear', 'Charlton', 'Daman']\nnames2 = names1\nnames3 = names1\n\nnames2[0] = 'Alice'\nnames3[1] = 'Bob'\n\nsum = 0\nfor ls i...","Points - Which should we write to get the output as NEWYORK or to access NEWYORK?\n\ndata = {1: {\n ""id"" : 390669115,\n ""name"" : ""ProgramState"",\n ""dataTypeName"" : ""text"",\n ""descript...","Points - What should be replaced in line 5 blank space to get the output as 1?\n\n1. myList = [1, 5, 5, 5, 5, 1]\n2. max = myList[0]\n3. indexOfMax = 0\n4. for i in range(1, len(myList)):\n5. if myList[i] __...",Points - What should be replaced in blank space to get the output as \nOutput:\n 0\n 1\n 2\n\ni = 0\nwhile i < 5:\n print(i)\n i += 1\n if i == 3:\n ________\nelse:\n print(0)
1,2021-07-03 14:13:47,2021-07-03 14:18:16,9,Vishal thakur,vishalthakur850900@gmail.com,Batch 2,Mechanical engineering,0,1,0,...,0,2,0,0,2,0,NaN,0,0,0
2,2021-07-03 14:18:11,2021-07-03 14:23:05,14,Nikita prajapati,Nikitap8912@gmail.com,Batch 2,Cs,0,1,0,...,0,0,0,0,0,0,NaN,0,0,0
3,2021-07-03 14:19:02,2021-07-03 14:23:40,14,ansh,ansh00@gmail.com,Batch 2,cs,0,0,0,...,0,2,0,2,2,0,NaN,0,0,0
4,2021-07-03 14:14:44,2021-07-03 14:26:08,9,Krishna garare,krishnagararekkg@gmail.com,Batch 3,CSE,0,0,1,...,0,0,0,0,0,3,NaN,0,0,0
5,2021-07-03 14:20:41,2021-07-03 14:26:11,15,Navansh Trivedi,navansh.trivedi13@gmail.com,Batch 2,CS,1,1,1,...,2,2,0,0,2,0,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,2021-07-03 17:12:25,2021-07-03 17:14:54,57,Komal patil,Patilkommu8383@gmail.com,Batch 1,CSE,1,1,1,...,2,2,2,2,2,3,NaN,4,4,3
276,2021-07-03 16:20:43,2021-07-03 17:17:03,32,Ruchita Rani,ruchitarani14@gmail.com,Batch 3,CSE,1,1,1,...,2,2,0,2,0,0,NaN,0,4,0
277,2021-07-03 16:49:17,2021-07-03 17:19:23,45,Utkarsh Goswami,voraciousutkarsh536@gmail.com,Batch 3,CS,1,1,1,...,0,2,2,2,2,3,NaN,0,4,3
278,2021-07-03 17:15:25,2021-07-03 17:30:20,51,Rahul Sagar,rahul47sagar@gmail.com,Batch 1,Ai&DS,1,1,1,...,2,2,2,2,2,3,NaN,0,4,3
279,2021-07-03 17:05:35,2021-07-03 17:35:47,19,Salma Bano,salmabano0108@gmail.com,Batch 1,Electronics and communication,1,1,1,...,2,2,0,0,2,0,NaN,0,0,0